.advantage {
	display: grid;
	align-items: center;

	margin-bottom: 30px;
	grid-template-columns: 50px auto;
	gap: 10px 40px;

}


.line {
	align-self: stretch;

	border-left: 1px solid var(--gray-light);
}




